<header class="header">
	<div class="container header__content">
		<picture class="logo">
			<img src="../img/content/logo.svg"
			     alt="Keintools"
				title="Keintools"
			/>
		</picture>
		<nav class="header__nav">
			<ul class="header__menu">
				<li class="header__item has-catalog">
					<div class="header__link">
						<span>Каталог</span>

						<svg class="icon size-10">
							<use xlink:href="/img/sprite.svg#shevron-down" />
						</svg>
					</div>
					<div class="catalog">
						<nav class="catalog__content">
							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Электроинструмент
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__subitem">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>

								<li class="catalog_show-more">+Еще</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Запчасти для электроинструмента
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__item">
									<a href="#"
									   class="catalog__link">
										Сверление-Завинчивание
									</a>
								</li>
								<li class="catalog__show-more">+Еще</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<ul class="catalog__menu">
								<li class="catalog__item">
									<a href="#" class="catalog__link">
										Электроинструмент
									</a>
								</li>
							</ul>

							<a
									href="#"
									class="catalog__link catalog__link--highlight"
							>
								Перейти в каталог
							</a>
						</nav>
					</div>

					<div class="overlay"></div>
				</li>

				<li class="header__item has-dropdown">
					<div class="header__link" tabindex="0">
						<span>Информация</span>

						<svg class="icon size-10">
							<use xlink:href="/img/sprite.svg#shevron-down" />
						</svg>
					</div>
					<div class="dropdown" tabindex="-1">
						<a href="#"
						   class="dropdown__item">
							О компании
						</a>
						<a href="#"
						   class="dropdown__item">
							О компании
						</a>
						<a href="#"
						   class="dropdown__item">
							О компании
						</a>
						<a href="#"
						   class="dropdown__item">
							О компании
						</a>
					</div>
				</li>

				<li class="header__item">
					<a href="#" class="header__link">
						<span>Запчасти</span>
					</a>
				</li>

				<li class="header__item">
					<a href="#" class="header__link">
						<span>Акции</span>
					</a>
				</li>

				<li class="header__item">
					<a href="#" class="header__link">
						<span>Контакты</span>
					</a>
				</li>
			</ul>
		</nav>

		<div class="link header__search">
			<svg class="icon size-18">
				<use xlink:href="/img/sprite.svg#phone" />
			</svg>

			<span>Поиск</span>
		</div>

		<a href="tel:+79629285555"
		   title="Телефон"
		   class="link header__phone">
			<svg class="icon size-18">
				<use xlink:href="/img/sprite.svg#phone" />
			</svg>

			<span>+7 962 928 5555</span>
		</a>

		<div class="hamburger">
			<span class="hamburger__span"></span>
			<span class="hamburger__span"></span>
		</div>
	</div>

	<nav class="header__addon">
		<form class="search-form">
			<input type="text"
			       class="input"
					placeholder="Поиск">
			<button class="search-form__button">
				<svg class="icon size-18">
					<use xlink:href="/img/sprite.svg#search" />
				</svg>
			</button>
		</form>

		<ul class="mobile-menu">
			<li class="mobile-menu__item">
				<div class="mobile-menu__link has-submenu">
					<a href="#">Каталог</a>

					<svg class="icon size-10">
						<use xlink:href="/img/sprite.svg#shevron-right-bold" />
					</svg>
				</div>

				<ul class="mobile-menu__submenu">
					<li class="mobile-menu__item">
						<div class="go-back">
							<svg class="icon size-10">
								<use
										xlink:href="/img/sprite.svg#shevron-left-bolder"
								></use>
							</svg>

							<span>Назад</span>
						</div>
					</li>

					<li class="mobile-menu__item">
						<a class="mobile-menu__link" href="#"
						>Электроинструмент
						</a>
					</li>

					<li class="mobile-menu__item">
						<a class="mobile-menu__link" href="#"
						>Электроинструмент
						</a>
					</li>

					<li class="mobile-menu__item">
						<a class="mobile-menu__link" href="#"
						>Электроинструмент
						</a>
					</li>

					<li class="mobile-menu__item">
						<div class="mobile-menu__link has-submenu">
							<span>Электроинструмент</span>

							<svg class="icon size-10">
								<use
										href="/img/sprite.svg#shevron-right-bold"
								></use>
							</svg>
						</div>

						<!-- Вложенное меню -->
						<ul class="mobile-menu__submenu">
							<li class="mobile-menu__item">
								<div class="go-back">
									<svg class="icon size-10">
										<use
												xlink:href="/img/sprite.svg#shevron-left-bolder"
										></use>
									</svg>

									<span>Назад</span>
								</div>
							</li>

							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">
									Сверление-Завинчивание
								</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">
									Сверление-Завинчивание
								</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">
									Сверление-Завинчивание
								</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">
									Сверление-Завинчивание
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="mobile-menu__item">
				<a class="mobile-menu__link" href="#">Запчасти</a>
			</li>

			<li class="mobile-menu__item">
				<a class="mobile-menu__link" href="#">Запчасти</a>
			</li>

			<li class="mobile-menu__item">
				<a class="mobile-menu__link" href="#">Запчасти</a>
			</li>

			<li class="mobile-menu__item">
				<a class="mobile-menu__link" href="#">Запчасти</a>
			</li>
		</ul>

		<div class="contact-info">
			<a href="mailto:info@keintools.ru" class="contact-info__email">
				info@keintools.ru
			</a>

			<a href="tel:+79629285555" class="contact-info__phone">
				+7 962 928 5555
			</a>

			<span class="contact-info__schedule">Пн-Пт 9:00 - 18:00 </span>
		</div>
	</nav>

	<div class="search-popup">
		<form class="search-popup__content container">
			<svg class="icon size-20 search-popup__icon">
				<use xlink:href="/img/sprite.svg#search" />
			</svg>

			<input
					class="search-popup__input input"
					type="text"
					placeholder="Поиск по сайту"
			/>

			<button type="button" class="search-popup__close">
				<svg class="icon size-18">
					<use xlink:href="/img/sprite.svg#close" />
				</svg>
			</button>
		</form>

		<div class="overlay"></div>
	</div>
</header>